@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    min-height: 100vh;
}
header{
    background-color: #ffffff;
    box-shadow: 0px 12px 19px 0px rgba(0, 0, 0, 0.15)
}
.header{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 20%;
}
.header h1{
    font-weight: 800;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.header p{
    font-weight: 800;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 28px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.mdl{
  margin-top: 10px;
  margin-bottom: 20px;
}
.search-filter{
    display: flex;
    align-items: center;
    gap: 50%;
    width: 90%;
    margin: 40px auto 0;
}
.search{
    width: 280px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0px 12px 19px 0px rgba(0, 0, 0, 0.15);
    gap: 10px;
    align-items: center;
    background-color: #ffffff;
    border-radius: 6px; 
}
.search input{
    width: 80%;
    display: flex;
    font-size: 14px;
font-weight: 600;
font-family: 'Nunito Sans', sans-serif;
color: #111517;
 border: none;
 height: 30px;
}
input:focus{
    border: none;
    outline: none;
    color: #111517;;
    background-color: #ffffff;
}
input::placeholder{
    font-style: italic;
}
.search button{
    background: transparent;
    border: none;
}
.search img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

select{
    width: 180px;
    height: 38px;
    padding: 8px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 12px 19px 0px rgba(0, 0, 0, 0.15);
    color: #111517;
    font-weight: 300;
    border: #ffffff;
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
  }
  select:focus{
    outline: none;
  }
  option{
    border: none;
    outline: none;
  }
  .repo-pg{
    width: 90%;
    margin: 50px auto 0;
  }
  .repos{
    width: 100%;
    display: grid;
  grid-template-columns: 30% 30% 30% ;
  column-gap: 24px;
  row-gap: 34px;
  align-items: center;
  height: 100%;
  margin-bottom: 30px;
  }

  .repo1{
    background-color: #ffffff;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0px 12px 19px 0px rgba(0, 0, 0, 0.15);
    height: 284px;
    padding: 10px;
    box-sizing: border-box;
  }
  .repo1 h1{
    text-align: center;
    color: #2f81f7;
    cursor: pointer;
    font-weight: 800;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  }
  .repo1 p{
    margin-left: 15px;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
  }
  .pag{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 50px;
  }
  .prev-btn, .nxt-btn{
    width: 80px;
    height: 30px;
    background: transparent;
    font-weight: 600;
    color: #2f81f7;
    border: 1px solid #0d117c;;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    cursor: pointer;
  }
  .pg-nb .btn{
    height: 30px ;
    border: 1px solid #0d117c;;
    width: 20px;
    background: transparent;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #2f81f7;
    cursor: pointer;
  }
  .bck-btn button{
    margin-left: 80px;
  width: 120px;
  height: 35px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 12px 19px 0px rgba(0, 0, 0, 0.15);
  gap: 12px;
  background-color: #ffffff;
  border: #fafafa;
  cursor: pointer;
  margin-top: 30px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  }
  .repo-info{
    width: 90%;
    margin:30px auto;
  }
  .repo-name{
    text-align: center;
  }
  .repo-name h1{
    font-weight: 800;
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
  }
  .repo-name p{
    font-weight: 600;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 20px;
  }

  .flex{
    display: flex;
    width: 70%;
    justify-content: center;
    gap: 90px;
    margin: auto;
  }
  .flx-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .flx-item p{
    font-weight: 600;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .topics{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
 
  .nf div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
  }
  .nf-img{
    height: 300px;
  }
  .nf btn{
    width: 50%;
  }
  .btn-nf{
  width: 120px;
  height: 35px;
  border-radius: 8px;
  box-shadow: 0px 12px 19px 0px rgba(0, 0, 0, 0.15);
  gap: 12px;
  background-color:#c7ebe9;
  border: 2px solid black;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  font-weight: 800;
  }

  /* Modal form css */
  .mod-fm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  .mod-fm label{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 23px;
    font-weight: 600;
    color: #0d117c;
  }
  .mod-fm input{
    width: 90%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #0d117c;
    border-radius: 6px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .mdl-btn{
    background-color: #0d117c;
    width: 90px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: #ffffff;
    border-radius: 6px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .mdl-rd{
    background-color: red;

  }
  .np{
    color: #2f81f7;
    cursor: pointer;
    font-weight: 800;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loading-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: 100%;

  }
  
  .loading-spinner {
    border: 4px solid #ffffff;
    border-left: 4px solid #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  .loading-container p{
    font-weight: 600;
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
  }
  .srch-err{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .srch-err img{
    width: 300px;
    height: 300px;
  }
.srch-err p{
  font-weight: 600;
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
  margin-top: 20px;
  font-style: italic;
  color: red;
}
.pg-nb .ch-btn{
  background:#c7ebe9
}
.grey{
  background-color: #838181;
  cursor: not-allowed;
  color: #ffffff;
}
@media screen and (max-width:769px){
  .header{
    gap: 7%;
  }
  .repos{
    grid-template-columns: 45% 45% ;
  }
  .flex{
    width: 100%;
  }

}

@media screen and (max-width:481px){
  .header{
    gap: 2%;
    width: 100%;
  }
  .logo p{
    display: none;
  }
  .header h1{
    font-size: 30px;
  }
  .header p{
    font-size: 18px;
  }
  .search-filter{
    gap: 20px;
    flex-direction: column;
  }
  .repos{
    grid-template-columns: 90%;
    justify-content: center;
  }
  .pag{
    justify-content: center;
  }
  .flex{
    flex-direction: column;
    gap: 20px;
  }
}